body{
    background-color: rgb(245, 237, 202);
}

.caixa-conteudo{
    margin-left: 22%;
    width: 76.8%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

.card-grafico{
    width: 23%;
    height: 17.8vw;
    background-color: white;
    border-left: 5px solid #13436b;
    display: flex;
    margin-top: 10%;
    margin-left: 4%;
}

.caixa-conteudo .card-grafico{
    width: 20%;
    height: 20vw;
    overflow: hidden;
    transition: 1s;
}

.caixa-conteudo .card-grafico:hover{
    z-index: 1;
    transform: scale(1.10);
}

.graficos{
    width: 10vh;
    margin-left: 30%;
}

.title-card{
    font-size: 25px;
    color: black;
    margin-top: 116%;
    margin-left: -63%;
}

.situacao-porcentagem{
    font-size: 22px;
    color: red;
    margin-top: 117%;
    margin-left: 31%;
}

.seta{
    font-size: 22px;
    color: red;
    margin-top: 119.4%;
}

.title-situacao{
    font-size: 25px;
    color: black;
    margin-left: 44%;
    padding-top: 7%;
}

.img-alert{
    width: 9%;
    margin-left: 47%;
    height: 8vw;
    margin-top: 1%;
}

@media only screen and (min-width: 600px){

    .caixa-conteudo{
        margin-left: 13%;
        width: 76.8%;
        height: 100%;
        position: relative;
        z-index: 0;
        margin-top: 10%;
        display: block ruby;
    }
    
    .card-grafico{
        background-color: white;
        border-left: 5px solid #13436b;
    }
    
    .caixa-conteudo .card-grafico{
        width: 33.5%;
        height: 30vw;
        overflow: hidden;
        transition: 1s;
        margin-left: 4%;
    }
    
    .caixa-conteudo .card-grafico:hover{
        z-index: 1;
        transform: scale(1.10);
    }
    
    .graficos{
        margin-left: 23%;
    }
    
    .title-card{
        font-size: 22px;
        color: black;
        margin-top: 105%;
        margin-left: -73%;
    }
    
    .situacao-porcentagem{
        font-size: 21px;
        color: red;
        margin-top: 105%;
        margin-left: 13%;
    }
    
    .seta{
        font-size: 21px;
        color: red;
        margin-top: 107.9%;
        margin-left: 2%;
    }
    
    .title-situacao{
        font-size: 22px;
        color: black;
        margin-left: 38%;
        padding-top: 3%;
        position: absolute;
    }

    .alertas{
        margin-top: 17%;
    }
    
    .img-alert{
        width: 21%;
        margin-left: 47%;
        height: 17vw;
        margin-top: 9%;
    }
}

@media only screen and (min-width: 768px){

    .caixa-conteudo{
        margin-left: 13%;
        width: 76.8%;
        height: 100%;
        position: relative;
        z-index: 0;
        margin-top: 10%;
        display: block ruby;
    }
    
    .card-grafico{
        background-color: white;
        border-left: 5px solid #13436b;
    }
    
    .caixa-conteudo .card-grafico{
        width: 33.5%;
        height: 30vw;
        overflow: hidden;
        transition: 1s;
        margin-left: 4%;
    }
    
    .caixa-conteudo .card-grafico:hover{
        z-index: 1;
        transform: scale(1.10);
    }
    
    .graficos{
        margin-left: 30%;
    }
    
    .title-card{
        font-size: 22px;
        color: black;
        margin-top: 105%;
        margin-left: -67%;
    }
    
    .situacao-porcentagem{
        font-size: 21px;
        color: red;
        margin-top: 105%;
        margin-left: 30%;
    }
    
    .seta{
        font-size: 21px;
        color: red;
        margin-top: 107.9%;
        margin-left: 2%;
    }
    
    .title-situacao{
        font-size: 23px;
        color: black;
        margin-left: 41.5%;
        padding-top: 3%;
    }

    .alertas{
        margin-top: 10%;
    }
    
    .img-alert{
        width: 16%;
        margin-left: 49%;
        height: 14vw;
        margin-top: 9%;
    }
}
