/*cards*/
.container-cards h1, h2{
    color: #231D36;
}
.container-cards h3{
    color: #EE964B;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #231D36;
}
::-webkit-scrollbar-thumb {
    background: #231D36;
}
.container-cards .content{
    position: relative;
    margin-top: 5vh;
    min-height: 90vh;
}
.container-cards .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-cards .content .cards .card{
    width: 250px;
    height: 170px;
    background: #EBEBD3;
    margin: 20px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .container-cards .btn{
    background: #F95738;
    color: #EBEBD3;
    padding: 5px 10px;
    text-align: center;
    border-radius:10px;
} */
.btn:hover{
    background-color: #EBEBD3;
    color: #231D36;
}
.container-cards .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container-cards .content .content-2 .recent-relatory{
    min-height: 50vh;
    flex: 5;
    background: #EBEBD3;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius:10px;
}
.container-cards .content .content-2 .new-relatory{
    flex: 2;
    background: #EBEBD3;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius:10px;
}

.select_but{
    display: grid;
}
.selection-but{
    background-color: #231D36;
    color: #EBEBD3;
    width: 102px;
    height: 32px;
    border-radius: 0.2em;
    padding: 0.5em;
}
.selection-but option{
    background-color: #EE964B;
}
/* graficos */
.container-grafico{
    box-sizing: border-box;
}
.row-grafico {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
  /* Create two equal columns that sits next to each other */
  .column-grafico {
    flex: 25%;
    padding: 18px;
    height: 75vh; /* Should be removed. Only for demonstration */
    background-color: #EBEBD3;
    border-radius: 0.5em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  .titulo-grafico{
      text-align: center;
  }
