
body {
    display         : grid;
    justify-content : center;
    align-items     : center;
    min-height      : 100vh;
    background-color: #ebebd3;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #231D36;
}
::-webkit-scrollbar-thumb {
    background: #231D36;
}
/* Inicio Titulo */
.section-title {
    display              : flex;
    justify-content      : center;
    align-items          : center;
    flex-wrap            : wrap;
    padding              : 4em 0;
    background-image     : url("../img/fundo-bloco.png");
    background-size      : cover;
    background-repeat    : no-repeat;
    background-attachment: fixed;
}

.content-title {
    margin-top: 4em;
    text-align: center;
}

.text-initial-upper {
    color    : #231D36;
    font-size: 2.5em;
}

.text-initial-lower {
    color    : #eeaf32;
    font-size: 2.5em;
}

/* Inicio Cards */
.section-card {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    padding        : 40px 0;
}

.section-card .content-card {
    position     : relative;
    width        : 22em;
    height       : 26em;
    box-shadow   : inset 0px 1px 5px #231d36;
    border-radius: 2em;
    margin       : 2em;
}

.section-card .content-card:hover {
    box-shadow: inset 0px 1px 5px #f95738;
    color     : #777;
}

.section-card .content-card .card-form {
    position       : absolute;
    top            : 1.4em;
    left           : 1.6em;
    right          : 1.6em;
    bottom         : 1.4em;
    background     : #231D36;
    box-shadow     : 0 10px 20px #777;
    border-radius  : 1em;
    display        : flex;
    justify-content: center;
    align-items    : center;
    transition     : 0.5s;
}

.section-card .content-card:hover .card-form {
    transform : translateY(-50px);
    box-shadow: 0 10px 40px #231D36;
    background: linear-gradient(45deg, #eeaf32, #f95738);
}

.section-card .content-card .card-form .card-content {
    padding   : 2.5em;
    text-align: center;
}

.section-card .content-card .card-form .card-content figure {
    color     : #231D36;
    transition: 0.5s;
}

.section-card .content-card:hover .card-form .card-content figure {
    color: rgba(0, 0, 0, 0.05);
}

.section-card .content-card .card-form .card-content h3 {
    font-size : 1.8em;
    color     : #eeaf32;
    z-index   : 1;
    transition: 00.5s;
}

.section-card .content-card:hover .card-form .card-content h3,
.section-card .content-card:hover .card-form .card-content p {
    color: #231D36;
}

.section-card .content-card .card-form .card-content p {
    font-size  : 1em;
    font-weight: 300;
    color      : #ebebd3;
    z-index    : 1;
    transition : 0.5s;
}

.card-icon {
    width: 6em;
}


/* Inicio Texto Minerador Animado */
.section-miner {
    display              : flex;
    justify-content      : center;
    align-items          : center;
    flex-wrap            : wrap;
    padding              : 3.5em 0;
    background-image     : url("../img/fundo-bloco.png");
    background-size      : cover;
    background-repeat    : no-repeat;
    background-attachment: fixed;
}

.content-miner {
    text-align: center;
}

.section-miner .icon-minerador {
    position : relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        left: -12em;
    }

    to {
        left: 12em;
    }
}


.section-miner .miner-txt {
    color      : #231D36;
    width      : 55vw;
    text-align : center;
    display    : flex;
    line-height: 1.4em;
    font-size  : 2em;
}


/* Inicio Section Laranja */
.section-orange {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    padding        : 40px 0;
}

.content-orange {
    width           : 70vw;
    background-color: #eeaf32;
    padding         : 0.8em;
    box-shadow      : 5px 10px 18px #777;
    border-radius   : 2em;
}

.orange-txt {
    text-align   : justify;
    color        : #231D36;
    width        : 80%;
    margin-top   : 10%;
    margin-left  : 10%;
    margin-bottom: 10%;

}

.orange-line {
    height          : 5px;
    background-color: #f95738;
}

.icon-gpu {
    width      : 30%;
    margin-left: 35%;
}

/* Inicio Section Resultado */
.section-result {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 4em 0;
}

.content-result {
    width          : 70%;
    justify-content: center;
    align-items    : center;
}

.purple-line {
    background-color: #231D36;
    height          : 5px;
}

.section-result .content-result .box-result {
    display              : grid;
    grid-gap             : 3em;
    grid-template-columns: 1fr 1fr;
}

.icon-key {
    width: 20em;
}

.section-result .content-result .box-result .result-txt {
    margin: 3em 0 0 0;
}

.section-result .content-result .box-result figure {
    margin: auto;
}

.icon-pc {
    width: 40em;
}

/* Inicio Section Roxa */
.section-wave {
    display         : flex;
    justify-content : center;
    background-color: #231D36;
    color           : #ebebd3;

}

.section-wave .content-wave {
    width          : 70%;
    justify-content: center;
    align-items    : center;
}

.section-wave .content-wave .wave-form {
    display    : flex;
    text-align : justify;
    align-items: center;
    text-shadow: 0 0 3px #231D36, 0 0 5px #ebebd3
}

.section-wave .content-wave .wave-form img {
    width: 15em;
}

.wave-form-center {
    margin-top    : 10%;
    margin-bottom : 10%;
    text-shadow   : 0 0 3px #231D36, 0 0 5px #ebebd3;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.wave-txt {
    margin-right: 7%;
    margin-left : 7%;
}

/* Inicio Info Rodapé */
.section-info {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    color          : #f95738;
}

.section-info .content-info {
    width          : 70vw;
    justify-content: center;
    align-items    : center;
}

.section-info .content-info .info-txt {
    margin-top   : 10%;
    margin-bottom: 10%;
    text-align   : justify;
    align-items  : center;
}

/* Inicio Section definições */
.section-definition {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    color          : #231D36;
}

.section-definition .content-definition {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #f95738;
    margin          : -0.5em 0 0 0;
}   

.section-definition .content-definition .box-definition {
    width           : 75%;
    background-color: #ebebd3;
    text-align      : justify;
    align-items     : center;
    box-shadow      : 5px 0px 18px 2px #777;
    border-radius   : 2em;
}

.definition-txt {
    width        : 80%;
    margin-left  : 10%;
    margin-top   : 2%;
    margin-bottom: 2%;
}


/* Inicio Video */
.section-video {
    box-shadow: 10px;
    text-align: center;
    padding   : 0 0 5em 0;
}