* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.altera-dados{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.altera-dados .foto-perfil{
    width: 300px;
    padding: 20px;
}

.perfil button{
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #F95738;
}

.form-infos{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    padding-top: 22px;
}

.form-infos form{
    padding: 10px 10px;
}

form input{
    margin: 15px 0;
    height: 2.8vw;
    border: 1px solid transparent;
    background-color: #EBEBD3;
}

input{
    flex-direction: column;
    margin: 10px;
    width: 300px;
    border: none;
    border-radius: 10px;
    height: 25px;
    padding-left: 10px;
    padding: 10px;
}

select{
    margin: 10px 0;
    height: 2.6vw;
    border: 1px solid transparent;
    width: 86%;
    background-color: #EBEBD3;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    color: rgb(112, 112, 112);
}

.btn_perfil{
    width: 88%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #F95738;
    transition: 0.5s;
    margin-top: 15px;
    margin-left: 10px;
}

.btn_perfil:hover{
    width: 94%;
    margin-left: 5.5%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #ec401d;
    color: white;
}

.titulo{
    margin: 9.3%;
}

h2{
    margin-left: 14%;
}


@media only screen and (max-width: 1200px) {
    /* Mesmas config de quando esconde o menu*/    
    .altera-dados .foto-perfil{
        width: 200px;
        padding: 20px;
    }
    
    .perfil button{
        padding: 10px;
        border-radius: 25px;
    }

    .form-infos{
        padding-top: 20px;
    }
    
    .form-infos form{
        border: black 1px solid;
        border-radius: 20px;
        padding: 10px;
    }
    
    form .input-form{
        margin: 20px 0;
    }
    
    .input-form{
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: 250px;
    }
    
    .form-infos form button{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        border-radius: 25px;
        margin: 10px;
    }
    
    .pool-info{
        margin-top: 50px;
    }
    
    .pool{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .titulo{
        margin: 9%;
    }
    
    .your-pool button{
        width: 90px;
        margin: 0 10px;
        padding: 10px;
        border-radius: 25px;
    }
    
    .select-pool button{
        margin: 0 10px;
        padding: 10px;
        border-radius: 25px;
        float: right;
        background-color: #F95738;
    }
}

@media only screen and (max-height: 600px) {
    .altera-dados{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .pool{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}