@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONTAINER PAGINA*/
.principal{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    background-color: rgb(222, 215, 201);
}

/* INICIO ESTILIZAÇÃO DO TAMANHO E COR DO BLOCO DE REGISTRO E LOGIN */
.content{
    width: 960px;
    height: 60%;
    justify-content:space-between;
    align-items: center;
    border-radius: 15px;
    background-color:white;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-color: rgb(19, 67, 107);
    width: 40%;
    height:100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    left: 0;
}
/* FINAL ESTILIZAÇÃO DE TAMANHO E COR DO BLOCO DE REGISTRO E LOGIN */


/* INICIO AJUSTE DE POSIÇÃO DO CONTEUDO/DEIXANDO ELES LADO A LADO */
.primeiro-conteudo{
    display: flex;
}

.primeiro-conteudo .coluna-dados{
    z-index: 12;
}

.segundo-conteudo{
    position: absolute;
    display: flex;
}

.segundo-conteudo .coluna-mensagem{
    order:2;
    z-index: -1;
}
.segundo-conteudo .coluna-dados{
    order:1;
    z-index: -1;
}
/* FINAL AJUSTE DE POSIÇÃO DO CONTEUDO/DEIXANDO ELES LADO A LADO */


/* INICIO AJUSTE DAS COLUNAS DE MENSAGEM E DE DADOS, TANTO DE REGISTRO E DE LOGIN */
.coluna-mensagem{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.coluna-dados{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* FINAL AJUSTE DAS COLUNAS DE MENSAGEM E DE DADOS, TANTO DE REGISTRO E DE LOGIN */


/* INICIO DE AJUSTE DOS ICONES DE REDES SOCIAIS */
.list-social-midia-registro{
    display: flex;
    list-style-type: none;
}

.list-social-midia-login{
    display: flex;
    list-style-type: none;
    margin-left: 14%;
}

.redes-sociais{
    margin: 1rem;
}

.item-social-midia{
    border: 1px solid grey;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align:center;
    line-height:35px;
    color: grey;
}

.link-social:not(:first-child){
    margin-left: 10px;
}

.link-social .item-social-midia{
    transition: background-color .4s;
}
/* FINAL DE AJUSTE DOS ICONES DE REDES SOCIAIS */


/* INICIO DOS AJUSTES DA PARTE DOS DADOS DO USUÁRIO (CRIAÇÃO DE CONTA E LOGIN) */
.dados-usuario{
    display: flex;
    flex-direction:column;
    width: 55%;
}

.dados-usuario input{
    height: 45px;
    border: none;
    background-color: rgb(219, 239, 240);
    width: 100%;
}

.label-input{
    background-color: rgb(219, 239, 240);
    display: flex;
    align-items: center;
    margin: 5px;
}

.select_pais{
    margin: 2% 3.5%;
    background-color: rgb(219, 239, 240);
    height: 2.0rem;
    width: 95%;
    border: 1px solid rgb(219, 239, 240);
    text-align: center;
}

.world{
    color: rgb(78, 76, 76);
    margin-left: 1.8%;
}

.icon-modify{
    color: rgb(88, 86, 86);
    padding: 0 5px;
}
/* FINAL DOS AJUSTES DA PARTE DOS DADOS DO USUÁRIO (CRIAÇÃO DE CONTA E LOGIN) */


/* INICIO DO AJUSTE DOS TITULOS DAS PÁGINAS */
.titulo{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.titulo-welcome{
    color: white;
}

.titulo-cadastro{
    color: rgb(19, 67, 107);
}
/* FINAL DO AJUSTE DOS TITULOS DAS PÁGINAS */


/* INICIO AJUSTE DOS ITENS DE DESCRIÇÃO DAS PÁGINAS / MINI-TEXTOS */
.descricao{
    font-size: 15px;
    font-weight: 300;
    color: white;
    line-height: 25px;
}

.descricao-primary{
    color: rgb(0, 0, 0);
    margin-top: 8%;
}

.esqueci-senha{
    color: black;
    margin-top: 8%;
    margin-left: 30%;
    margin-bottom: 3%;
}
/* FINAL AJUSTE DOS ITENS DE DESCRIÇÃO DAS PÁGINAS / MINI-TEXTOS */


/* INICIO DOS AJUSTES DOS BOTÕES, ESTILIZAÇÃO ETC... */
.btn_user{
    border-radius:15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 37px;
    cursor: pointer;
    font-weight:bold;
    width:125px;
    height: 35px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}

.btn-primary_user{
    background-color: transparent;
    border: 1px solid white;
    transition: background-color .5s;
}

.btn-second_user{
    background-color: rgb(19, 67, 107);
    border: 1px solid rgb(19, 67, 107);
    transition: background-color .5s;
}

.btn-second_user:hover{
    background-color: white;
    border: 1px solid rgb(19, 67, 107);
    color: rgb(19, 67, 107);
}

.btn-primary_user:hover{
    background-color: white;
    color: rgb(19, 67, 107);
}
/* FINAL DOS AJUSTES DOS BOTÕES, ESTILIZAÇÃO ETC... */


/* INICIO DO MOVIMENTO DE TRANSIÇÃO DAS PÁGINAS. NECESSITA DO CÓDIDO DA LINHA 291 */
.sign-in-js .primeiro-conteudo .coluna-mensagem{
    z-index: -1;
}

.sign-in-js .segundo-conteudo .coluna-dados {
    z-index: 11;
}

.sign-in-js .segundo-conteudo .coluna-mensagem{
    z-index: 13;
}

.sign-in-js .content::before{
    left: 60%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    animation: slidein 2s;
    z-index: 12;
}

.sign-in-js .primeiro-conteudo .coluna-dados{
    z-index: -1;
    position: relative;
    animation: deslocamento 2s;
}

.sign-up-js .segundo-conteudo .coluna-dados{
    z-index: -1;
    position: relative;
    animation: deslocamentodir 2s;
}

.sign-up-js .content::before{
    animation: slideout 2s;
    z-index: 12;
}

.sign-up-js .segundo-conteudo .coluna-mensagem,
.sign-up-js .segundo-conteudo .coluna-dados {
    z-index: -1;
}

.sign-up-js .primeiro-conteudo .coluna-mensagem{
    z-index: 13;
}


.sign-up-js .primeiro-conteudo .coluna-dados {
    z-index: 11;
}
/* FINAL DO MOVIMENTO DE TRANSIÇÃO DAS PÁGINAS */


/* INICIO DO MOVIMENTO DE "DESLIZE" DAS PÁGINAS. NECESSITA DO CÓDIGO DA LINHA 237 */
@keyframes deslocamento {
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25%{
        left:-80px;
        opacity: .5;
        z-index: 12;
    }

    50%{
        left: -100px;
        opacity: .2;
        z-index: 12;
    }

    to{
        left: -110px;
        opacity:0;
        z-index: -1;
    }
}

@keyframes deslocamentodir {
    from{
        left: 0;
        z-index: 11;
    }

    25%{
        left:80px;
        z-index: 11;
    }

    50%{
        left: 100px;
        z-index: 11;
    }

    to{
        left: 110px;
        z-index: -1;
    }
}


@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }

    25% {

        left: 5%;
        width: 50%;
    }

    50%{
        left: 20%;
        width: 60%;
    }

    75%{
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }

    25% {

        left: 45%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 5%;
        width: 50%;
    }

    to {
        left: 0%;
        width: 40%;
    }
}
/* FINAL DO MOVIMENTO DE "DESLIZE" DAS PÁGINAS. NECESSITA DO CÓDIGO DA LINHA 237 */