/* RESET DA PÁGINA */
*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: 0px;
}


/* ESTILIZAÇÃO DAS TAG'S "a(LINK)" */
.link_icon, .link_nav{
    text-decoration: none;
    color: rgb(222, 215, 201);
}


/* CRIANDO O FOOTER, CONTAINER PAI */
.container_footer{
    width: 100%;
    height: 15rem;
    background-color:black;
}


/* CAIXA FILHA DO FOOTER, ONDE DEIXO ALINHADO NO CENTRO TODOS O BLOCO. */
.caixa_footer{
    max-width: 87%;
    margin-left: 11%;
}


/* ESTILIZAÇÃO DO LOGO CRYPTOVERSE */
.logo_footer{
    width: 13%;
    margin-top: -1%;
}


/* DEIXANDO AS REDES SOCIAIS LADO A LADO */
.container_redes_sociais li{
    display: flex;
}


/* DEIXANDO AS REDES SOCIAIS CENTRALIZADAS ABAIXO DO LOGO */
.caixa_icones_redes_sociais{
    margin-left: 2.6%;
}


/* ESTILIZANDO OS ICONES DAS REDES SOCIAIS */
.icones{
    background-color:rgb(222, 215, 201);
    width: 2%;
    border: 3px solid rgb(222, 215, 201);
    border-radius: 5px;
}


/* DEIXANDO OS LINK DE NAVEGAÇÃO DO RODAPÉ LADO A LADO E DEFININDO CORES E TAMANHO */
.container_link_rodape{
    display: flex;
    text-decoration: none;
    color: rgb(222, 215, 201);
    font-size: 1rem;
}


/* TIRANDO A ESTILIZAÇÃO DAS LISTAS E APLICANDO UM ESPAÇAMENTO ABAIXO */
.caixa_link_rodape1 li, .caixa_link_rodape2 li{
    list-style: none;
    margin-bottom: 2rem;
}


/* 1 COLUNA - DEIXANDO OS LINKS DE NAVEGAÇÃO DO RODAPÉ NO CENTRO E DO LADO DIREITO DO LOGO */
.caixa_link_rodape1{
    margin-left: 22%;
    margin-top: -10.8%;
}


/* 2 COLUNA - DEIXANDO OS LINKS DE NAVEGAÇÃO DO RODAPÉ NO CENTRO E DO LADO DIREITO DO LOGO */
.caixa_link_rodape2{
    margin-left: 8%;
    margin-top: -10.8%;
}


/* DEIXANDO O TEXTO DO INPUT, O INPUT, O BOTÃO E O TEXTO AUTORAL NA DIV PAI CENTRALIZADA */
.container_entre_em_contato{
    margin-left: 57%;
    margin-top: -10%;
}


/* ESTILIZANDO O TEXTO EMCIMA DO INPUT */
.container_entre_em_contato p {
    color: rgb(222, 215, 201);
    font-size: 1.1rem;
}


/* ESTILIZANDO O INPUT */
.container_entre_em_contato input{
    width: 40%;
    height: 1em;
    background-color: rgb(222, 215, 201);
    padding: 10px;
}


/* ESTILIZANDO O BOTÃO */
.btn{
    background-color: rgb(230, 68, 9);
    width: 13%;
    height: 2rem;
    transition: 0.5s;
}


/* COLOCANDO O EFEITO HOVER NO BOTÃO */
.btn:hover{
    background-color: #fb7d07;
    color: black;
}


/* AJUSTANDO O INPUT E O BOTÃO, PARA FICAR MAIS CENTRALIZADO */
.ajuste_input_btn{
    margin-left: 7%;
    margin-top: 2%;
}


/* ESTILIZANDO O TEXTO DE DIREITOS AUTORAIS */
.direitos_autorais{
    margin-left: 61.3%;
    margin-top: 4.6%;
    color: rgb(222, 215, 201);
    font-size: 17px;
}


