* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font: arial;
}

img {
    src: url(../img/botao-de-menu-de-tres-linhas-horizontais.png);
    width: 40px;
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    display: none;
}

.mobile-menu {
  cursor: pointer;
}
  
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

nav {
    background-color: rgba(16, 16, 16, .5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

ul {
    top: 70px;
    position: absolute;
    width: 100%;
}

a {
    display: block;
    padding: 20px 5px;
    color: white;
}

a:hover {
    color: rgb(176, 224, 230);
}

label {
    padding: 10px;
    position: absolute;
    z-index: 1;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(350px);
}

input[type="checkbox"]:checked ~ img {
    src: url(../img/letra-x.png);
}