* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #231D36;
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.button {
    background: #F95738;
    border-style: none;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    cursor: pointer;

    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.button-entrar {
    margin-left: 75%;
    background: #F95738;
    border-style: none;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    cursor: pointer;

    font-size: 18px;
    font-weight: 700;
    color: #fff;
}


.button-entrar:hover{

    background-color: #fa3d17 ;
}

/* menu hamburguer */

a {
    text-decoration: none;
    color: black;
}

body {
    font: arial;
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    display: none;
}

.mobile-menu {
  cursor: pointer;
}
  
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

 nav {
    background-color: #201f22a1;
    width: 200px;
    height: 75%;
    left: -200px;
    position: absolute;
    transition: all .5s;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 150px;
} 

 .estilo_ul {
    top: 70px;
    position: absolute;
    width: 100%;
}

.link_menu{
  display: block;
  padding: 20px 5px;
  color: white;
  margin-left: 3%;
}

.link_menu:hover{
  color: rgb(176, 224, 230);
}

label {
    padding: 10px;
    /* position: absolute; */
    z-index: 1;
}

input[type="checkbox"]:checked ~ .menu nav {
    transform: translate(200px, -35px);
}

.menu-hamburguer {
  cursor: pointer;
}

.menu-hamburguer div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}