* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font: arial;
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    display: none;
}

.mobile-menu {
  cursor: pointer;
}
  
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

 nav {
    background-color: #201f22a1;
    width: 200px;
    height: 100%;
    left: -200px;
    position: absolute;
    transition: all .5s;
} 

 .estilo_ul {
    top: 70px;
    position: absolute;
    width: 100%;
}

.link_menu{
  display: block;
  padding: 20px 5px;
  color: white;
  margin-left: 3%;
}


.link_menu:hover{
  color: rgb(176, 224, 230);
}

label {
    padding: 10px;
    position: absolute;
    z-index: 1;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(200px);
}

.menu-hamburguer {
  cursor: pointer;
}

.menu-hamburguer div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

input[type="checkbox"]:checked ~ .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

input[type="checkbox"]:checked ~ .line2 {
  opacity: 0;
}

input[type="checkbox"]:checked ~ .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}